go 1.24.3

use (
	./apple-auth
	./bills_management
	./cash_bank_management
	./categories_management
	./common
	./delta_sync
	./expense_management
	./google_auth
	./income_management
	./profile_management
	./reset_password
	./savings_management
	./signin
	./signup
	./transaction_delete_service
	./user_locale
)
